:root {
    --color-details: #95D9DC;
    --primary-color: #DCD9D6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body, html {
    width: 100%;
    height: 100%;
}
.app {
    height: 100vh;
    background: url(background.svg) no-repeat;
    background-position: 45vw 15vh;
    background-size: 650px;
    margin: 0;
    padding: 50px;
}
.todo-list {
    width: 90%;
    max-width: 500px;
}
.todo,
.form {
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 15px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.todo button,
.form input {
    cursor: pointer;
    padding: 8px;
    border: none;
    margin: 2px;
    transition: all ease 0.5s;
}
.todo button {
    border-radius: 3px;
}
.form input {
    width: 100%;
}
.todo #completeButton {
    background: var(--color-details);
}
.form input {
    cursor: text;
}
.todo button:hover{
    background: #dcdcdc;
}
.todo #completeButton:hover {
    background: #88ccce;
}