@media(max-width: 900px){
    .app {
        background-position-x: 70vw;
    }
}
@media (min-width: 1700px){
}
@media (max-height: 760px){
    /* .app {
        background-size: 500px;
        background-position-x: center;
        padding: 50px 30px 0 30px;
    } */
    /* .todo-list {
        width: 90%;
    } */
    /* .app img {
        justify-content: center;
    } */
}